@use '../../../styles/mixins' as *;

.readOptions {
  position: absolute;
  right: 20pt;
  top: 2pt;
}

.loreContainer {
  background-color: var(--border-highlight-color);
}

.lorePopoverContainer {
  background-color: var(--background-secondary-color);
  border-radius: 10pt;
}

.lorePopoverContent {
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 5pt;
}

.lorePopoverBackground {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 40pt;
  padding-right: 40pt;
  background-color: var(--skim-background);
  @include mobile {
    padding-left: 5pt;
    padding-right: 5pt;
  }
}

.lorePopoverHeader {
  margin-right: 12pt;
  margin-bottom: -8pt;
}

.tagsRow {
  padding: 5pt 0pt;
}

.topNav {
  border-bottom-width: 1pt;
  border-bottom-color: var(--background-secondary-color);
  border-bottom-style: groove;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

.notesShow {
  display: flex;
  height: auto;
}

.icon {
  font-size: 1.2rem;
  size: 1.2rem;
  color: var(--foreground-color);
  vertical-align: middle;
}

.notesHide {
  height: 0pt;
  max-height: 0pt;
  display: none;
}
