
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0pt 0pt;
  flex-wrap: wrap;
}

.tag {
  padding: 2pt 8pt;
  border-radius: 10pt;
  margin-right: 5pt;
  background-color: var(--accent-color);
  color: var(--foreground-color);
  font-size: 0.8rem;
}

.selectedTag {
  background-color: var(--select-background-color);
  color: var(--select-foreground-color);
  padding: 2pt 8pt;
  border-radius: 10pt;
  margin-right: 5pt;
  font-size: 0.8rem;
}