
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0pt 0pt;
  flex-wrap: wrap;
}

.selectable {
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}

.tag {
  padding: 2pt 8pt;
  cursor: pointer;
  border-radius: 10pt;
  margin-right: 5pt;
  margin-top: 2pt;
  margin-bottom: 2pt;
  background-color: var(--accent-color);
  color: var(--foreground-color);
  font-size: 0.8rem;
}

.selectedTag {
  background-color: var(--select-background-color);
  cursor: pointer;
  color: var(--select-foreground-color);
  padding: 2pt 8pt;
  border-radius: 10pt;
  margin-right: 5pt;
  margin-top: 2pt;
  margin-bottom: 2pt;
  font-size: 0.8rem;
}

.secondaryTag {
  opacity: 0.8;
  padding: 1pt 4pt;
  font-size: 0.6rem;
}