@use '../styles/mixins' as *;

.split {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: '100%';
    overflow: hidden;
    @include mobile {
      flex-direction: column;
    }
   padding-left: env(safe-area-inset-left);
   padding-right: env(safe-area-inset-right);
   padding-bottom: env(safe-area-inset-bottom);
}

.nav {
  position: relative;
  width: 100pt;
  margin-left: 0pt;
  border-right-color: var(--background-secondary-color);
  border-right-width: 1pt;
  border-right-style:groove;
  transition: margin-left 300ms ease-in-out;

  @include mobile {
    transition: margin-top 300ms ease-in-out;
    border-right-color: transparent;
    margin-top: 0pt;
    height: 30pt;
    width: 100%;
  }
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
  @include mobile {
    max-height: calc(100% - 30pt); // Adjust for mobile header height
  }
}

.fullScreenContent {
  flex: 1;
  display: flex;
  max-height: 100%;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}

.hide {
  margin-left: -100pt;

  @include mobile {
    margin-left: 0pt;
    margin-top: -30pt;
  }
}


.fullScreenIcon {
  position: absolute;
  right: -8pt;
  bottom: 50%;
  transform: translateY(-50%);
  color: var(--translucent-icon);
  transition: transform 300ms ease-in-out;
  transform: rotate(270deg);
  margin-inline: auto;
  z-index: 10000;

  @include mobile {
    transform: rotate(0deg);
    transform: translateX(50%);
    right: 50%;
    bottom: -8pt;
  }
}

.open {
  transform: rotate(90deg);
  transition: transform 300ms ease-in-out;

  @include mobile {
    transform: rotate(180deg) translateX(-5pt);
  }
}