.container {
  width: 100%;
  align-self: stretch;
  flex: 1;
}

.tagsContainer {
  padding: 10pt 3pt 5pt;
}

.icon {
  font-size: 1.2rem;
  size: 1.2rem;
  color: var(--foreground-secondary-color);
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.3);
  }
}

.chapterTitle {
  margin-right: 5pt;
    transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}

.chapterDate {
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}

.chapterRow {
  margin: 5pt 0pt;
  align-self: stretch;
}