
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100%;
  overflow: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.supportLogo {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}

.contentBlock a {
  color: var(--accent-color);
  text-decoration: none;
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }

}

.patreonTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0.5rem 0.5rem;
  font-size: 1rem;

  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }

}

.contentBlock {
  padding: 5pt 10pt;
  border-color: var(--border-highlight-color);
  border-width: 1pt;
  margin-bottom: 1pt;
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0.5rem 1rem;
  border-radius: 10pt;
}

.tierBlock {
  margin-bottom: 2rem;
}

.tierHeaderRow {
  margin-block: 1rem;
  gap: 10pt;
}

.privacyHeaderRow {
  gap: 5pt;
  font-size: 0.8rem;
  color: var(--accent-color);
}

.privacyContent {
  p {
  font-size: 0.7rem;
  color: var(--foreground-secondary-color);
  }
}

.tierIcon {
  color: var(--accent-color);
}

.linkTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.loginButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10pt;
  background-color: var(--accent-color);
  color: var(--foreground-color);
}

.logoutButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10pt;
  background-color: var(--error-color);
  color: var(--foreground-color);
}

.expanded {
  min-height: auto;
  max-height: auto;
  transition: max-height 300ms ease-in-out;
}

.collapsed {
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}