:root, :root[data-theme="dark"] {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-color: #221e1e;
  --background-color-overlay: rgba(0, 0, 0, 0.5);
  --background-secondary-color: #151312;
  --background-tertiary-color: #0f0d0c;
  --text-entry-background-color: #000;
  --border-highlight-color: #000;
  --foreground-color: #e5e0cf;
  --foreground-secondary-color: #afa17c;
  --translucent-icon: rgba(175, 161, 124, 0.7);
  --highlight-color: #56626a;
  --lore-underline-color: #3e7395;
  --accent-color: #147183;
  --accent-secondary-color: #317e52;
  --error-color: #a3403d;
  --primary-header-color: #011f2d;
  --primary-header-color-alpha: rgba(1, 31, 45, 0.5);
  --secondary-header-color: #1d2326;
  --max-content-width: 50rem;
  --skim-background: rgba(0, 0, 0, 0.7);
  --foreground-patreon-logo: #ffffff;
  --background-image:  url('/images/GraescenceArtworkDark.png');
  --menu-image: url('/images/menuDark.png');
  --menu-color-overlay: rgba(0, 0, 0, 0.0);
  --progress-background-color: #514545;

  --link-color: #83a598;
  --select-foreground-color: #fbf1c7;
  --select-background-color: #59590f;
  --unSelect-foreground-color: #fbf1c7;
  --unSelect-background-color: #353535;

  --theme-select-dark-background: #32302f;
  --theme-select-dark-foreground: #fbf1c7;
  --theme-select-light-background: #f2debf;
  --theme-select-light-foreground: #322b1e;
}

:root[data-theme="light"] {
  --foreground-color: #322b1e;
  --foreground-secondary-color: #504735;
  --background-color: #f1eee9;
  --background-color-overlay: rgba(255, 255, 255, 0.8);
  --background-secondary-color: #fffcf8;
  --background-tertiary-color: #ffffff;
  --text-entry-background-color: #fff9ef;
  --translucent-icon: rgba(80, 71, 53, 0.5);
  --border-highlight-color: #fff;
  --highlight-color: #6492a1;
  --lore-underline-color: #88b7d5;
  --accent-color: rgb(135, 171, 177);
  --accent-secondary-color: rgb(127, 179, 127);
  --error-color: #cd7f7d;
  --primary-header-color: #aac0ce;
  --primary-header-color-alpha: rgba(170, 192, 206, 0.5);
  --secondary-header-color: #d0d7db;
  --skim-background: rgba(168, 167, 167, 0.7);
  --foreground-patreon-logo: #000000;
  --background-image:  url('/images/GraescenceArtwork.png');
  --menu-image: url('/images/menuLight.png');
  --menu-color-overlay: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0));
  --progress-background-color: #bdb8b1;

  --link-color: #114270;
  --select-foreground-color: #322b1e;
  --select-background-color: #d4e1c0;
  --unSelect-foreground-color: #322b1e;
  --unSelect-background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

a {
  color: var(--foreground-color);
  text-decoration: none;
  :hover {
    color: var(--link-color);
  }
}

hr {
  color: var(--foreground-color);
  background-color: var(--foreground-color);
  margin-top: 2pt;
  margin-bottom: 2pt;
  border-top: 1px solid var(--foreground-color);
}

.commento-root * {
  color: var(--foreground-color) !important;
}

.commento-root textarea {
  background: var(--text-entry-background-color) !important;
  color: var(--foreground-color) !important;
}

.commento-login-box {
  background: var(--background-secondary-color) !important;
}

.commento-login-box .commento-login-box-subtitle {
  color: var(--foreground-secondary-color) !important;
}

.commento-login-box .commento-forgot-link {
  color: var(--foreground-secondary-color) !important;
}

.commento-error-box {
  color: var(--error-color) !important;
}

.commento-email {
  background: var(--background-color) !important;
}

.commento-email .commento-input {
  background: var(--background-color) !important;
}

.commento-email .commento-email-button {
  background: var(--background-color) !important;
  color: var(--link-color) !important;
}

.commento-root .commento-submit-button {
  background: var(--accent-color) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loreHighlight {
  position: relative;
  text-decoration: dotted;
  text-decoration-line: underline;
  text-decoration-color: var(--lore-underline-color);
  cursor: pointer;
}

.loreHover {
  position: relative;
  display: block;
  padding: 0.25em 0.5em !important;
  background-color: #0f525f !important;
  margin: 0 !important;
  cursor: default;
}

.loreHighlight .loreHover {
  visibility: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
  border-radius: 0.25em;
  white-space: nowrap;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  transition-property: visibility;
  transition-delay: 0s;
}

.loreHighlight:hover .loreHover {
  visibility: visible;
  transition-delay: 0.3s;
}

.inter_link {
  color: var(--link-color);
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}