:root, :root[data-theme="dark"] {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-color: #32302f;
  --background-secondary-color: #151312;
  --text-entry-background-color: #181614;
  --border-highlight-color: #000;
  --foreground-color: #fbf1c7;
  --foreground-secondary-color: #afa17c;
  --highlight-color: #714f09;
  --accent-color: rgb(15, 82, 95);
  --error-color: #ae3c38;
  --primary-header-color: #011f2d;
  --secondary-header-color: #2e2a28;
  --max-content-width: 60rem;

  --link-color: #83a598;
  --select-foreground-color: #fbf1c7;
  --select-background-color: #59590f;
  --unSelect-foreground-color: #fbf1c7;
  --unSelect-background-color: rgb(53, 53, 53);

  --theme-select-dark-background: #32302f;
  --theme-select-dark-foreground: #fbf1c7;
  --theme-select-light-backgroung: #f2debf;
  --theme-select-light-foreground: #322b1e;

  --reading-font-family: Helvetica, sans-serif;
  --reading-font-size: 1rem;
  --reading-paragraph-spacing: 0.0rem;
  --reading-paragraph-indent: 3rem;
  --reading-line-spacing: 1.0rem;
  --reading-letter-spacing: 0rem;
  --reading-word-spacing: 0rem;
  --reading-text-align: left;
}

:root[data-theme="light"] {
  --foreground-color: #322b1e;
  --foreground-secondary-color: #504735;
  --background-color: #f1eee9;
  --background-secondary-color: #fffcf8;
  --text-entry-background-color: #fff9ef;
  --border-highlight-color: #fff;
  --highlight-color: #a18b64;
  --accent-color: rgb(177, 217, 225);
  --error-color: #901712;
  --primary-header-color: #a5bcc9;
  --secondary-header-color: #eceae8;

  --link-color: #114270;
  --select-foreground-color: #322b1e;
  --select-background-color: #d4e1c0;
  --unSelect-foreground-color: #322b1e;
  --unSelect-background-color: #f2f2f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

a {
  color: var(--foreground-color);
  text-decoration: none;
}

hr {
  color: var(--foreground-color);
  background-color: var(--foreground-color);
  margin-top: 2pt;
  margin-bottom: 2pt;
  border-top: 1px solid var(--foreground-color);
}

.commento-root * {
  color: var(--foreground-color) !important;
}

.commento-root textarea {
  background: var(--text-entry-background-color) !important;
  color: var(--foreground-color) !important;
}

.commento-login-box {
  background: var(--background-secondary-color) !important;
}

.commento-login-box .commento-login-box-subtitle {
  color: var(--foreground-secondary-color) !important;
}

.commento-login-box .commento-forgot-link {
  color: var(--foreground-secondary-color) !important;
}

.commento-error-box {
  color: var(--error-color) !important;
}

.commento-email {
  background: var(--background-color) !important;
}

.commento-email .commento-input {
  background: var(--background-color) !important;
}

.commento-email .commento-email-button {
  background: var(--background-color) !important;
  color: var(--link-color) !important;
}

.commento-root .commento-submit-button {
  background: var(--accent-color) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.loreHighlight {
  background-color: var(--highlight-color);
}