:root, :root[data-theme="dark"] {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-color: #32302f;
  --background-secondary-color: #1d2021;
  --border-highlight-color: #000;
  --foreground-color: #fbf1c7;
  --foreground-secondary-color: #afa17c;
  --highlight-color: #714f09;
  --accent-color: rgb(15, 82, 95);
  --error-color: #cc241d;
  --primary-header-color: #a34100;
  --secondary-header-color: #504945;

  --link-color: #83a598;
  --select-foreground-color: #fbf1c7;
  --select-background-color: #59590f;
  --unSelect-foreground-color: #fbf1c7;
  --unSelect-background-color: rgb(53, 53, 53);

  --theme-select-dark-background: #32302f;
  --theme-select-dark-foreground: #fbf1c7;
  --theme-select-light-backgroung: #f2debf;
  --theme-select-light-foreground: #322b1e;

  --reading-font-family: Arial, sans-serif;
  --reading-font-size: 1rem;
  --reading-paragraph-spacing: 0.5rem;
  --reading-paragraph-indent: 2rem;
  --reading-line-spacing: 1.35rem;
  --reading-letter-spacing: 0rem;
  --reading-word-spacing: 0rem;
  --reading-text-align: left;
}

:root[data-theme="light"] {
  --foreground-color: #322b1e;
  --foreground-secondary-color: #504735;
  --background-color: #f2debf;
  --background-secondary-color: #ffeacb;
  --border-highlight-color: #fff;
  --highlight-color: #a18b64;
  --accent-color: rgb(163, 204, 212);
  --error-color: #901712;
  --primary-header-color: #cd965c;
  --secondary-header-color: #d9c19e;

  --link-color: #114270;
  --select-foreground-color: #322b1e;
  --select-background-color: #c7dda4;
  --unSelect-foreground-color: #322b1e;
  --unSelect-background-color: #ffeacb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
