@use '../styles/mixins' as *;

.container {
   display: flex;
   flex-direction: column;
   height: 100dvh;
   flex: 1;
   margin: 0 auto 0;
   background: var(--background-image), var(--background-color-overlay);
   background-size: cover;
   background-position: center;
   background-blend-mode: overlay;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5pt;
    flex: 1;
    background-image: url('/images/GraescenceArtwork.png');
}

.main {
    max-width: 50rem;
    min-width: 20rem;
    max-height: 100dvh;
    overflow: scroll;
}