@use '../styles/mixins' as *;

.container {
    height: 100vh;
    flex: 1;
    margin: 0 auto 0;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split {
    display: flex;
    flex-direction: row;
    width: '100%';
    @include mobile {
        flex-direction: column;
    }
}

.nav {
    height: 100vh;
    background-color: var(--background-secondary-color);
    border-right-color: var(--background-secondary-color);
    border-right-width: 1pt;
    border-right-style:groove;
    @include mobile {
        height: auto;
    }
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5pt;
    flex: 1;
    background-image: url('/images/GraescenceArtwork.png');
}

.main {
    max-width: 50rem;
    min-width: 20rem;
    max-height: 100vh;
    overflow: scroll;
}