@use '../styles/mixins' as *;

.container {
   display: flex;
   flex-direction: column;
   height: 100dvh;
   flex: 1;
   margin: 0 auto 0;
   background: var(--background-image), var(--background-color-overlay);
   background-size: cover;
   background-position: center;
   background-blend-mode: overlay;
   overflow: hidden;
}