@use '../styles/mixins' as *;

.tagsContainer {
  padding: 3pt 5pt;
}

.tagsRow {
  padding: 5pt 0pt;
}

.section {
  backdrop-filter: blur(5px);
  background-color: var(--alpha2-overlay);
  border-radius: 10pt;
  margin-top: 5pt;
  border-style: solid;
  border-width: 1pt;
  border-color: var(--alpha3-overlay);
}

.sectionHeader {
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  @include mobile {
    margin-inline: 0pt;
    margin-top: 0pt;
  }
}

.hr {
  background-color: var(--background-color);
  height: 1pt;
  width: 100%;
}

.date {
  color: var(--foreground-secondary-color);
}

.sortIconContainer {
  cursor: pointer;
  padding: 5pt;
  background-color: var(--background-secondary-color);
  color: var(--foreground-color);
  border-radius: 1000pt;
}

.sortIcon {
  margin-inline: 5pt;
  font-size: 1.1rem;
  color: var(--foreground-secondary-color);
  transition: all 300ms ease-in-out;
  text-align: center;
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.3);
  }
}

.vr {
  background-color: var(--highlight-color);
  width: 1pt;
  margin-right: 2pt;
  height: 1.0rem;
}

.selected {
  color: var(--accent-color);
}