@use '../styles/mixins' as *;


.mainContainer {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
  overflow: scroll;
}

.infoContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-block: 5pt;
  margin-inline: 5pt;
  border-radius: 8pt;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
}

.infoBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: min-content;
  // background-color: var(--background-color);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.infoBlock + .infoBlock {
  border-left: 2pt solid var(--border-highlight-color);
}

.infoHeader {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  background-color: var(--primary-header-color-alpha);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.infoData {
  padding-inline: 5pt;
  padding-block: 1pt;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
}

.rssContainer {
  margin-top: 10pt;
}

.rssIcon {
  font-size: 1rem;
  size: 1rem;
  color: var(--accent-secondary-color);
  margin-left: 5pt;
  vertical-align: middle;
}

.supportContainer {
  margin-bottom: 20pt;
}

.pwaLi {
  margin-bottom: 5pt !important;
  font-family: var(--reading-font-family, Helvetica, sans-serif);
  font-size: var(--reading-font-size), 1rem;
}

