
.popover {
  background-color: var(--background-secondary-color);
  border-radius: 5pt;
  border-color: var(--border-highlight-color);
  border-width: 1pt;
  border-style: groove;
  overflow: hidden;
  max-width: max(calc(var(--max-content-width) / 2), 30rem);
}

.popoverContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0pt;
  top: 0pt;
  left: 0pt;
  bottom: 0pt;
  background-color: rgba(0, 0, 0, 0.4);
}

.popoverShowing {
  overflow: scroll;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.popoverHiding {
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.icon {
  font-size: 1.2rem;
  size: 1.2rem;
  color: var(--foreground-color);
  vertical-align: middle;
}