
.tagsContainer {
  padding: 3pt 5pt;
}

.headerRow {
  background-color: var(--background-color);
  padding-left: 5pt;
  padding-right: 5pt;
}

.tagsRow {
  padding: 5pt 0pt;
}

.hr {
  background-color: var(--background-color);
  height: 1pt;
  width: 100%;
}

.date {
  color: var(--foreground-secondary-color);
}

.sortIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 5pt;
  color: var(--foreground-color);
  transition: all 300ms ease-in-out;
}