.container {
  padding: 0pt;
}

.icon {
  font-size: 1.2rem;
  size: 1.2rem;
  color: var(--foreground-color);
}

.iconContainer {
}

.alignContainer {
  margin-top: 0.7rem;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0pt;
  top: 0pt;
  left: 0pt;
  bottom: 0pt;
  background-color: rgba(0, 0, 0, 0.4);
}

.menuShowing {
  overflow: scroll;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.menuHiding {
  overflow: scroll;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.menu {
  background-color: var(--background-secondary-color);
  border-radius: 5pt;
  border-color: var(--border-highlight-color);
  border-width: 1pt;
  border-style: groove;
}

.optionText {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  text-align: center;
}

.row {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button {
  padding: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-width: 1pt;
  border-color: transparent;
  background-color: var(--background-color);
  border-radius: 5pt;
}

.buttonSelect {
  background-color: var(--select-background-color);
  border-color: var(--select-foreground-color);
  color: var(--select-foreground-color);
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
}

.buttonUnSelect {
  background-color: var(--unSelect-background-color);
  border-color: var(--unSelect-foreground-color);
  color: var(--unSelect-foreground-color);
  width: 2rem;
  height: 2rem;
  padding: 5pt;
}

.buttonLeft {
  border-top-left-radius: 5pt;
  border-bottom-left-radius: 5pt;
  border-width: 0pt;
  margin-right: 1pt;
}

.buttonMiddle {
  border-width: 0pt;
  margin-right: 1pt;
}

.buttonRight {
  border-top-right-radius: 5pt;
  border-bottom-right-radius: 5pt;
  border-width: 0pt;
}

.fontSelectContainer {
  width: 100%;
  overflow: scroll;
}

.fontSelect {
  margin: 5pt 5pt 0pt;
  padding: 2pt 3pt;
  border-radius: 5pt;
  background-color: var(--select-background-color);
}

.fontUnselect {
  margin: 5pt 5pt 0pt;
  padding: 2pt 3pt;
  border-radius: 5pt;
  background-color: var(--unSelect-background-color);
}

.fontSelect .fontSelectAa,
.fontSelectTitle {
  color: var(--select-foreground-color);
  text-align: center;
}

.fontUnselect .fontSelectAa,
.fontSelectTitle {
  color: var(--unSelect-foreground-color);
}

.fontSelectAa {
  font-size: 1.2rem;
}

.fontSelectTitle {
  font-size: 0.7rem;
}
