@use '../styles/mixins' as *;

.headerRow {
  padding-left: 5pt;
  padding-right: 5pt;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--foreground-secondary-color);
  backdrop-filter: blur(5px);
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  background-color: var(--alpha6-overlay);
  margin-bottom: 1pt;
}

.header {
  padding: 2pt 0pt;
  font-size: 0.9rem;
}

.date {
  color: var(--foreground-secondary-color);
  transition: transform 300ms ease-in-out;
  font-size: 0.8rem;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}

.tierIcon {
  color: var(--accent-color);
  align-self: center;
  font-size: 0.8rem;
}

.subTitle {
  color: var(--foreground-secondary-color);
  font-size: 0.8rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom-left-radius: 10pt;
  border-bottom-right-radius: 10pt;
  padding: 5pt;
  background-color: var(--alpha5-overlay);
  backdrop-filter: blur(5px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 5pt;

  @include mobile {
    margin: 5pt 3pt;
  }
}

.excerpt {
  padding: 5pt;
}

.progressContainer {
  position: relative;
  background-color: var(--progress-background-color);
  width: 100%;
  height: 2pt;
  border-radius: 20pt;
  overflow: hidden;
}

.progressIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20pt;
  background-color: var(--accent-secondary-color);
}

.moreLink {
  font-size: 0.9rem;
}
