@use '../styles/mixins' as *;

.headerRow {
  padding-left: 5pt;
  padding-right: 5pt;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--foreground-secondary-color);
}

.date {
  color: var(--foreground-secondary-color);
  transition: transform 300ms ease-in-out;
  font-size: 0.8rem;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}

.tierIcon {
  color: var(--accent-color);
  margin-left: 0.5em;
}

.subTitle {
  color: var(--foreground-secondary-color);
  font-size: 0.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10pt;
  border-radius: 10pt;
  padding: 5pt;
  background-color: var(--background-tertiary-color);
  margin-bottom: 5pt;

  @include mobile {
    margin: 5pt 1pt;
  }
}

.excerpt {
  padding: 5pt;
}

.progressContainer {
  position: relative;
  background-color: var(--progress-background-color);
  width: 100%;
  height: 2pt;
  border-radius: 2pt;
  overflow: hidden;
}

.progressIndicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2pt;
  background-color: var(--accent-secondary-color);
}

.moreLink {
  font-size: 0.9rem;
}
