 .main {
   display: flex;
   flex-direction: column;
   flex: 1;
   max-width: var(--max-content-width, 50rem);
   min-width: 10rem;
   max-height: 100vh;
   overflow: scroll;
   margin-top: 3pt;
   border-right-width: 1pt;
   border-left-width: 1pt;
   border-bottom-width: 1pt;
   border-color: var(--background-secondary-color);
   border-left-style: groove;
   border-right-style: groove;
   border-bottom-style: groove;
   border-radius: 10pt;
   background-color: var(--background-color);
 }

.main-content {
   display: flex;
   flex-direction: column;
   flex: 1;
}

 .contentView {
   display: flex;
   justify-content: center;
   position: relative;
   flex: 1;
 }

 .options {
    border-left-width: 1pt;
    border-left-style: groove;
    border-left-color: var(--background-secondary-color);

 }

.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
}

.hidden {
   opacity: 0;
}