@use './mixins' as *;

.infoContainer {
  padding-left: 5pt;
  padding-right: 5pt;
  padding-bottom: 5pt;
}

.post {

  img {
    display: block;
    text-indent: 0;
    max-width: 70%;
    margin-inline: auto;
    border-radius: 8pt;
    margin-block: 5pt;
    text-align: center;

    @include mobile {
      max-width: 90%;
      max-height: 50%;
    }
  }

  p, span {
    font-family: var(--reading-font-family, Helvetica, sans-serif);
    font-size: var(--reading-font-size, 1rem);
    text-indent: var(--reading-paragraph-indent, 2em);
    margin-bottom: var(--reading-paragraph-spacing, 0em);
    // line-height: var(--reading-line-spacing, 1rem);
    // letter-spacing: var(--reading-letter-spacing, 0rem);
    // word-spacing: var(--reading-word-spacing, 0rem);
    text-align: var(--reading-text-align, left);
  }

  li {
    font-family: var(--reading-font-family, Helvetica, sans-serif);
    font-size: var(--reading-font-size), 1rem;
    // line-height: var(--reading-line-spacing, 1rem);
    // letter-spacing: var(--reading-letter-spacing, 0rem);
    // word-spacing: var(--reading-word-spacing, 0rem);
    text-align: var(--reading-text-align, left);
    margin-bottom: var(--reading-paragraph-spacing, 0rem);
  }

  h2 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

  h4, h5, h6 {
    margin-top: 0.25em
  }

  hr {
    border-color: transparent;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 3em;
    margin-bottom: 0.5rem;
  }

  del {
    color: var(--foreground-secondary-color);
  }

}