.post {

  p, span {
    font-family: var(--reading-font-family);
    font-size: var(--reading-font-size);
    text-indent: var(--reading-paragraph-indent);
    margin-bottom: var(--reading-paragraph-spacing);
    line-height: var(--reading-line-spacing);
    letter-spacing: var(--reading-letter-spacing);
    word-spacing: var(--reading-word-spacing);
    text-align: var(--reading-text-align);
  }

  li {
    font-family: var(--reading-font-family);
    font-size: var(--reading-font-size);
    line-height: var(--reading-line-spacing);
    letter-spacing: var(--reading-letter-spacing);
    word-spacing: var(--reading-word-spacing);
    text-align: var(--reading-text-align);
  }

  h2 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

  h4, h5, h6 {
    margin-top: 0.25em
  }

  hr {
    border-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  hr:after {
    content: "⸻ ༺✧༻ ⸻";
    display: inline-block;
    position: relative;
    left:50%;
    transform:translate(-50%, 0%);
    text-align:center;
    font-size: 1.4em;
  }

  ul {
    margin-left: 3em;
    margin-bottom: 0.5rem;
  }

  li {
    margin-bottom: var(--reading-paragraph-spacing);
  }

  del {
    color: var(--foreground-secondary-color);
  }

}