.post {

  p, span {
    font-family: var(--reading-font-family, Helvetica, sans-serif);
    font-size: var(--reading-font-size, 1rem);
    text-indent: var(--reading-paragraph-indent, 2em);
    margin-bottom: var(--reading-paragraph-spacing, 0em);
    // line-height: var(--reading-line-spacing, 1rem);
    // letter-spacing: var(--reading-letter-spacing, 0rem);
    // word-spacing: var(--reading-word-spacing, 0rem);
    text-align: var(--reading-text-align, left);
  }

  li {
    font-family: var(--reading-font-family, Helvetica, sans-serif);
    font-size: var(--reading-font-size), 1rem;
    // line-height: var(--reading-line-spacing, 1rem);
    // letter-spacing: var(--reading-letter-spacing, 0rem);
    // word-spacing: var(--reading-word-spacing, 0rem);
    text-align: var(--reading-text-align, left);
  }

  h2 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
  }

  h3 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }

  h4, h5, h6 {
    margin-top: 0.25em
  }

  hr {
    border-color: transparent;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  hr:after {
    content: "༺࿈༻";
    display: inline-block;
    position: relative;
    left:50%;
    transform:translate(-50%, 0%);
    text-align:center;
    font-size: 2em;
  }

  ul {
    margin-left: 3em;
    margin-bottom: 0.5rem;
  }

  li {
    margin-bottom: var(--reading-paragraph-spacing, 0rem);
  }

  del {
    color: var(--foreground-secondary-color);
  }

}