@use '../styles/mixins' as *;

.pageMain {
  position: absolute;
  top: 0;
  left: 0;
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.scaleHover {
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}

.buttonHover {
  transition: transform 300ms ease-in-out;
  z-index: 1;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.3);
    z-index: 1000;
  }
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.primaryHeader {
  width: 100%;
  background-color: var(--primary-header-color);
  padding: 2pt 5pt;
  font-size: 1.3rem;
    @include mobile {
      padding: 1pt 5pt;
    }
}

.secondaryHeader {
  background-color: var(--secondary-header-color);
  padding: 2pt 5pt;
  font-size: 1.0rem;
}

.tertiaryHeader {
  padding: 2pt 0pt;
  font-size: 0.9rem;
}

.hPadding {
  padding-left: 5pt;
  padding-right: 5pt;
}

.vPadding {
  padding-top: 5pt;
  padding-bottom: 5pt;
}

.standardPadding {
  padding: 5pt;
}

.roundedCorners {
  border-radius: 10pt;
}

.colorInherit {
  color: inherit;
}

.coloredLink {
  color: var(--link-color);
  a {
    color: var(--link-color);
  }
  transition: transform 300ms ease-in-out;

  &:hover {
    transition: transform 300ms ease-in-out;
    transform: scale(1.1);
  }
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.verticalSpaced {
  margin: 1rem 0rem;
}

.lightText {
  color: var(--foreground-secondary-color);
}

.smallText {
  font-size: 0.7em;
}

.lightHR {
  border-color: var(--foreground-secondary-color);
  align-self: stretch;
}

.indentedHR {
  align-self: stretch;
  margin: 0pt 20pt 0pt 20pt;
}

.row {
  display: flex;
  flex-direction: row;
}

.justifyBetween {
  justify-content: space-between;
}

.rightRounded {
  border-top-right-radius: 5pt;
  border-bottom-right-radius: 5pt;
}

.leftRounded {
  border-top-left-radius: 5pt;
  border-bottom-left-radius: 5pt;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0pt;
  z-index: 999;
}