@use '../../../styles/mixins' as *;

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.readOptions {
  position: absolute;
  right: 20pt;
  top: 2pt;
}

.chapterContainer {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-tertiary-color);
}

.chapterMeasure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.pagedContent {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.scrolledContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

.chapterPage {
  scroll-snap-align: start;
}

.loreContainer {
  background-color: var(--border-highlight-color);
}

.lorePopoverContainer {
  background-color: var(--background-secondary-color);
  border-radius: 10pt;
}

.lorePopoverContent {
  padding-left: 10pt;
  padding-right: 10pt;
  padding-bottom: 5pt;
}

.lorePopoverBackground {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 40pt;
  padding-right: 40pt;
  @include mobile {
    padding-left: 5pt;
    padding-right: 5pt;
  }
  background-color: var(--skim-background);
}

.lorePopoverHeader {
  border-top-right-radius: 10pt;
  border-top-left-radius: 10pt;
  flex-direction: row;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.tagsRow {
  padding: 5pt 0pt;
}

.topNav {
  border-bottom-width: 1pt;
  border-bottom-color: var(--background-secondary-color);
  border-bottom-style: groove;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

.notesShow {
  display: flex;
  height: auto;
}

.icon {
  font-size: 1.2rem;
  size: 1.2rem;
  color: var(--foreground-color);
  vertical-align: middle;
}

.notesHide {
  height: 0pt;
  max-height: 0pt;
  display: none;
}

.bottomNav {
  border-top-width: 1pt;
  border-top-color: var(--background-secondary-color);
  border-top-style: groove;
  padding-top: 8pt;
  padding-bottom: 8pt;
}

.bottomNavItem {
  flex: 1;
}

.bottomNavIndicator {
  margin-inline: 5pt;
}