.readOptions {
  position: absolute;
  right: 20pt;
  top: 2pt;
}

.topNav {
  border-bottom-width: 1pt;
  border-bottom-color: var(--background-secondary-color);
  border-bottom-style: groove;
  padding-top: 20pt;
  padding-bottom: 20pt;
}

.notesShow {
  display: flex;
  height: auto;
}

.icon {
  font-size: 1.2rem;
  size: 1.2rem;
  color: var(--foreground-color);
  vertical-align: middle;
}

.notesHide {
  height: 0pt;
  max-height: 0pt;
  display: none;
}

.bottomNav {
  border-top-width: 1pt;
  border-top-color: var(--background-secondary-color);
  border-top-style: groove;
  padding-top: 20pt;
  padding-bottom: 20pt;
}
